* {
    padding: 0;
    margin: 0;
}


/* navbar */
.navbar {
    border: 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 3rem;
}

.nav-item {
    margin-right: 60px;
    /* border: 1px solid; */
    list-style-type: none;
    padding: 5px;
}

.nav-item > li {
    border: 1px solid;
    display: inline;
    padding: 10px;
}

.nav-item > li > a {
    text-decoration: none;
}

/* header  */
.header {
    text-align: center;
}

.header > h1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.header > p {
    font-size: 20px;
}


/* Main Content */
main {
    border: 1px solid;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 30px;
}

.our-prodact > img {
    max-width: 400px;
}

.our-prodact > p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.people {
    display: flex;
    border: 1px solid;
    align-items: center;
}
.people > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.form {
    border: 1px solid;
    padding: 15px;
    background-color: rgba(169, 169, 169, 0.616);
}

.form > p {
    display: flex;
    flex-direction: column;
}


input, button {
    padding: 8px;
    margin-bottom: 20px;
    width: 90%;
}

select {
    padding: 8px;
    margin-bottom: 20px;
    width: 97%;
}

button {
    width: 97%;
}









